# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Include any premium plugins in repo
!web/app/plugins/advanced-custom-fields-pro/
!web/app/plugins/gravityforms/
!web/app/plugins/gravityformshubspot/
!web/app/plugins/simplecast/
!web/app/plugins/wp-all-import-pro/
!web/app/plugins/wpai-acf-add-on/
!web/app/plugins/wp-all-export-pro/
!web/app/plugins/fdc-algolia-search/

# WordPress
web/wp
web/.htaccess

# Logs
*.log
*.sql
sync

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
/composer.lock
/FDC Droplet.md
.idea
*.sublime-project
*.sublime-workspace
