@tailwind base;
@tailwind components;
// @tailwind utilities;

$c-purple: #782A88;
$c-purple-light: #A452CB;
$c-purple-dark: #2C0F33;
$c-purple-darker: #1E0923;

/*! purgecss start ignore */

@import 'includes/fonts';
@import 'vendor/formstone/index.scss';
@import 'vendor/magnific-popup/index.scss';
@import 'vendor/slick-carousel/slick.scss';
@import 'vendor/slick-carousel/slick-theme.scss';


body {
    font-family: 'proxima';
}

#mobilenav {
    @media (min-width: 1024px) {
        display:none;
    }
    visibility: hidden;
    background-color:$c-purple-dark;
    padding: 20px;
    &.fs-navigation-open {
        visibility: visible;
    }
    #hidemenu {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
        font-size: 10px;
    }
    .mobile-nav {
        li {
            padding: 6px 0;
            &.menu-item-has-children {
                padding-bottom: 0;
            }
            ul {
                margin-left: 20px;
                margin-bottom:0;
                li {
                    padding: 4px 0;
                    a {
                        font-size: 14px;
                    }
                }
            }
            a {
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

#sidemenu {
  background-color: rgba($c-purple-darker,0.85);
  .sidelinks {
    a {
      position: relative;
      &:after {
        content: '\f054';
        font-size: 1.5rem;
        font-family: 'Font Awesome 5 Pro';
        position: absolute;
        right: 15px;
        top: 18px;
      }
    }
  }
}

.slider {
  .slide {
    float: left;
  }
  .slick-dots {
    @media (min-width: 1024px) {
      padding-left: 18rem;
    }
  }
}

.overlay {
  background: rgba($c-purple-dark,0.65);
}

.button {
  background: $c-purple;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 2px;
  letter-spacing: 0.09rem;
  font-size: 0.85rem;
  text-decoration: none !important;
  &:hover {
    background: #fff;
    color: $c-purple-light;
  }
  &.button-sm {
    padding: 0.5rem 1rem;
  }
}

#mainbody {
  @media (min-width: 1024px) {
    min-height: calc(100vh - 225px);
  }
}

.prose {
  .entry-content {
    display: flow-root;
  }
  .entry-title a {
    text-decoration: none;
  }
  img {
    border-radius: 2px;
  }
  img.aligncenter {
    display: block;
    text-align: center;
    margin: 1.5rem auto;
  }
  img.alignleft {
    min-width: 100%;
    @media (min-width: 1024px) {
      float: left;
      margin: 0 1.5rem 1.5rem 0;
      min-width: auto;
    }
  }
  img.alignright {
    min-width: 100%;
    @media (min-width: 1024px) {
      float: right;
      margin: 0 0 1.5rem 1.5rem;
      min-width: auto;
    }
  }
  figure.aligncenter {
    display: block;
    text-align: center;
    margin: 1.5rem auto;
  }
  figure.alignleft {
    text-align: center;
    min-width: 100%;
    @media (min-width: 1024px) {
      float: left;
      margin: 0 1.5rem 1.5rem 0;
      min-width: auto;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  figure.alignright {
    text-align: center;
    min-width: 100%;
    @media (min-width: 1024px) {
      float: right;
      margin: 0 0 1.5rem 1.5rem;
      min-width: auto;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  figure figcaption {
    color: hsl(0, 0%, 60%);
  }

  .leading-none {line-height: 1;}
  .tracking-tight {letter-spacing: -0.025em;}
  .tracking-tighter {letter-spacing: -0.05em;}
  .m-0 {margin: 0;}
  .mx-0 {margin-left: 0;margin-right: 0;}
  .mt-0 {margin-top: 0;}
  .mb-0 {margin-bottom: 0;}
  .my-0 {margin-top: 0;margin-bottom: 0;}
  .mx-0 {margin-left: 0;margin-right: 0;}

  .font-normal {font-weight: 400;}
  .font-semibold  {font-weight: 600;}
  .font-bold {font-weight: bold;}
  
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .fade-in-down {
    animation-name: fadeInDown ease 0.5s;
    -webkit-animation: fadeInDown ease 0.5s;
    -moz-animation: fadeInDown ease 0.5s;
    -o-animation: fadeInDown ease 0.5s;
    -ms-animation: fadeInDown ease 0.5s;
 }

/*! purgecss end ignore */