body {
 font-family: 'proxima', sans-serif;
}

.font-normal {font-weight: 400;}
.font-semibold  {font-weight: 600;}
.font-bold {font-weight: bold;}

.text-c-purple {color:#782A88 !important;}
.text-center {text-align: center;}
.italic {font-style: italic;}

.leading-none {line-height: 1;}
.tracking-tight {letter-spacing: -0.025em;}
.tracking-tighter {letter-spacing: -0.05em;}

.m-0 {margin: 0;}
.mx-0 {margin-left: 0;margin-right: 0;}
.mt-0 {margin-top: 0;}
.mb-0 {margin-bottom: 0;}
.my-0 {margin-top: 0;margin-bottom: 0;}
.mx-0 {margin-left: 0;margin-right: 0;}

.mt-1  {margin-top: 0.25rem;}
.mt-2  {margin-top: 0.5rem;}
.mt-3  {margin-top: 0.75rem;}
.mt-4  {margin-top: 1rem;}
.mt-5  {margin-top: 1.25rem;}
.mt-6  {margin-top: 1.5rem;}
.mt-8  {margin-top: 2rem;}
.mt-10 {margin-top: 2.5rem;}

.mb-1  {margin-bottom: 0.25rem;}
.mb-2  {margin-bottom: 0.5rem;}
.mb-3  {margin-bottom: 0.75rem;}
.mb-4  {margin-bottom: 1rem;}
.mb-5  {margin-bottom: 1.25rem;}
.mb-6  {margin-bottom: 1.5rem;}
.mb-8  {margin-bottom: 2rem;}
.mb-10 {margin-bottom: 2.5rem;}

.my-1  {margin-top: 0.25rem;margin-bottom: 0.25rem;}
.my-2  {margin-top: 0.5rem;margin-bottom: 0.5rem;}
.my-3  {margin-top: 0.75rem;margin-bottom: 0.75rem;}
.my-4  {margin-top: 1rem;margin-bottom: 1rem;}
.my-5  {margin-top: 1.25rem;margin-bottom: 1.25rem;}
.my-6  {margin-top: 1.5rem;margin-bottom: 1.5rem;}
.my-8  {margin-top: 2rem;margin-bottom: 2rem;}
.my-10 {margin-top: 2.5rem;margin-bottom: 2.5rem;}

/* Font-Face */
@font-face {
  font-family: 'proxima';
  font-weight: 400;
  src: url('./assets/fonts/proximanova-regular-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-regular-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-regular-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-regular-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/proximanova-regitalic-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-regitalic-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-regitalic-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: 300;
  src: url('./assets/fonts/proximanova-light-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-light-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-light-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-light-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: 600;
  src: url('./assets/fonts/proximanova-semibold-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-semibold-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-semibold-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/proximanova-semibolditalic-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-semibolditalic-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-semibolditalic-webfont.ttf?1307578394')
    format('truetype'),
    url('./assets/fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz')
    format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: bold;
  src: url('./assets/fonts/proximanova-bold-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-bold-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-bold-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-bold-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: bold;
  font-style: italic;
  src: url('./assets/fonts/proximanova-boldit-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-boldit-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-boldit-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-boldit-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
  font-family: 'proxima';
  font-weight: 900;
  src: url('./assets/fonts/proximanova-extrabold-webfont.eot?1307578394');
  src: url('./assets/fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'),
    url('./assets/fonts/proximanova-extrabold-webfont.woff?1307578394') format('woff'),
    url('./assets/fonts/proximanova-extrabold-webfont.ttf?1307578394') format('truetype'),
    url('./assets/fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}